.row.justify-content-center
  .col-md-6.col-12
    %h2.display-4.text-center
      You can update your order here
-if @order.created?
  .row.justify-content-center.mt-4
    .col-md-6.col-12
      =button_to "delete", @order, :method => :delete, class: 'btn btn-danger'
=render 'form'